In [1]:
import mysql.connector
import requests
from bs4 import BeautifulSoup

In [2]:
xyz = mysql.connector.connect(host = 'localhost', user = 'root', password = 'Abhisuman@25')

In [3]:
myname = xyz.cursor()

In [4]:
myname.execute('CREATE DATABASE ISHU')

In [4]:
xyz = mysql.connector.connect(host = 'localhost',user = 'root', password = 'Abhisuman@25', database = 'ISHU')

In [5]:
myname = xyz.cursor()

In [9]:
myname.execute("CREATE TABLE CoronaPatient(DAY INT(3) NOT NULL AUTO_INCREMENT,TOTAL_CASES VARCHAR(20) ,DEATHS VARCHAR(20) ,RECOVERED VARCHAR(20),PRIMARY KEY (DAY))")

In [6]:
url = "https://www.worldometers.info/coronavirus/"

In [7]:
r = requests.get(url)

In [8]:
soup = BeautifulSoup(r.content,'html.parser')

In [9]:
rows =soup.find_all('div',class_ = 'maincounter-number')
for row in rows:
    cols = row.find_all('span')
    cols = [x.text.strip() for x in cols]
    print(cols)

['1,390,830']
['79,148']
['297,839']

In [10]:
ms = rows[0].find_all('span')
ms = [x.text.strip() for x in ms]
print(ms[0])

1,390,830

In [11]:
ns = rows[1].find_all('span')
ns = [x.text.strip() for x in ns]
print(ns[0])

79,148

In [12]:
ts = rows[2].find_all('span')
ts = [x.text.strip() for x in ts]
print(ts[0])

297,839

In [13]:
print(type(ts[0]))

<class 'str'>

In [14]:
Total_cases = ms[0]
Deaths = ns[0]
Recovered = ts[0]

In [15]:
sql = "INSERT INTO CoronaPatient(TOTAL_CASES,DEATHS,RECOVERED) VALUES(%s,%s,%s)"
myname.execute(sql,(Total_cases,Deaths,Recovered))

In [22]:
myname.execute("SELECT * FROM CoronaPatient")
myresult = myname.fetchall()
for y in myresult:
    print(y)

(2, '1,390,830', '79,148', '297,839')

In [21]:
myname.execute("SELECT TOTAL_CASES FROM CoronaPatient")
myresult = myname.fetchall()
for y in myresult:
    print(y)

('1,390,830',)

In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.DataFrame(myresult)

In [20]:
df

           0
0  1,390,830